# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
.venv/
env/

# Pytest
.pytest_cache/
.cache/

# Selenium / WebDriver
*.log
geckodriver.log
chromedriver.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# VS Code

# Jupyter
.ipynb_checkpoints/

# Env files
.env
*.env

# ms word files
*.docx
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
